h3 {
  color: pink;
}

#students {
  border-collapse: collapse;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.header1 {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding: bottom 12px;
  text-align: left;
  background-color: blanchedalmond;
  color: gray;
}

#students td {
  border: 1px solid #ddd;
  padding: 7px;
}

#students tr:nth-child(even) {
  background-color: beige;
}

#students tr:hover {
  background-color: #ddd;
}

#inputbox {
  height: 50%;
  position: relative;
  width: 60%;
}

#input {
  width: 100%;
  padding: 10px 7px;
  margin: 8px 0;
  border-radius: 50px;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding-inline-start: 52px;
  padding-inline-end: 44px;
}

#icon1 {
  position: absolute;
  left: 10px;
  top: 22px;
  color: gray;
}

#icon2 {
  position: absolute;
  right: -85px;
  top: 22px;
  cursor: pointer;
}

#place-select {
  width: 10%;
}
